<div class="modal-main">
    <p>
        دانشجوی گرامی
    </p>
    <p>
        حضور شما را در دانشگاه آزاد اسلامی واحد تهران غرب ، گرامی می داریم .
    </p>
    <p>
         فرم های حاضر به منظور تشکیل پرونده سلامت شما تشکیل شده است. با توجه به اینکه اطلاعاتی که شما در این پرسشنامه وارد می نمایید معیار اولیه برای تعیین سلامت جسمی و روانی شما می باشد، لذا موارد زیر را در نظر داشته ‌باشید :
    </p>
    <p>
         تمام سوالات سامانه به نحوی طراحی شده اند که قابلیت راستی آزمایی در پاسخ های ارائه شده از سوی شما وجود دارد لذا با دقت نظر در این خصوص اقدام نمایید.
    </p>
</div>

