
@{
    ViewBag.Title = "اصلی";
    Layout = "~/Views/Shared/_Portal.cshtml";
}


<div class="panel panel-default" style="margin: 15px auto;max-width:1000px;">
    <div class="panel-body">

        <div class="start-content" style="text-align:justify; line-height: 25px;">
            <p>
                دانشجوی گرامی
            </p>
            <p>
                حضور شما را در دانشگاه آزاد اسلامی واحد تهران غرب ، گرامی می داریم .
            </p>
            <p>
                فرم های حاضر به منظور تشکیل پرونده سلامت شما تشکیل شده است. با توجه به اینکه اطلاعاتی که شما در این پرسشنامه وارد می نمایید معیار اولیه برای تعیین سلامت جسمی و روانی شما می باشد، لذا موارد زیر را در نظر داشته ‌باشید
            </p>
            <p>
                تمام سوالات سامانه به نحوی طراحی شده اند که قابلیت راستی آزمایی در پاسخ های ارائه شده از سوی شما وجود دارد لذا با دقت نظر در این خصوص اقدام نمایید
            </p>


        </div><!-- .start-content -->
    </div>

</div>



<div class="panel panel-default" style="margin: 0px auto;max-width:1000px;">

    <div class="container-fluid" style="margin-top:15px;">
        <div class="row">

            <div class="col-md-6 panel setting-col" style="line-height:40px;">
                <div class="pull-left setting-col-titel">
                    <i class="glyphicon glyphicon-list-alt setting-col-titel-icon"></i>
                    اطلاعات فردی
                </div>

                <div class="pull-right ">
                    @*<a class="control btn btn-primary btn-sm glyphicon glyphicon-print " href="@Url.Action("LibraryList","Setting")"></a>*@
                    <a class="control btn btn-success btn-sm glyphicon glyphicon-ok" href="#"></a>
                </div>
            </div>

            <div class="col-md-6 panel setting-col" style="line-height:40px;">
                <div class="pull-left setting-col-titel">
                    <i class="glyphicon glyphicon-list-alt setting-col-titel-icon"></i>
                    فرم شناسنامه سلامت
                </div>

                <div class="pull-right ">
                    @*<a class="control btn btn-primary btn-sm glyphicon glyphicon-print " href="@Url.Action("LibraryList","Setting")"></a>*@
                    <a class="control btn btn-success btn-sm glyphicon glyphicon-ok" href="#"></a>
                </div>
            </div>

            <div class="col-md-6 panel setting-col" style="line-height:40px;">
                <div class="pull-left setting-col-titel">
                    <i class="glyphicon glyphicon-list-alt setting-col-titel-icon"></i>
                    <span>پرسشنامه سلامت عمومی</span>
                </div>

                <div class="pull-right ">
                    @*<a class="control btn btn-primary btn-sm glyphicon glyphicon-print " href="@Url.Action("LibraryList","Setting")"></a>*@
                    <a class="control btn btn-success btn-sm glyphicon glyphicon-ok" href="#"></a>
                </div>
            </div>

            <div class="col-md-6 panel setting-col" style="line-height:40px;">
                <div class="pull-left setting-col-titel">
                    <i class=" glyphicon glyphicon-calendar  setting-col-titel-icon"></i>
                    نوبت گیری
                </div>

                <div class="pull-right ">
                    @*<a class="control btn btn-primary btn-sm glyphicon glyphicon-print " href="@Url.Action("LibraryList","Setting")"></a>*@
                    <a class="control btn btn-success btn-sm glyphicon glyphicon-ok" href="#"></a>
                </div>
            </div>
        </div>
    </div>

</div>


@*<div class="panel panel-default" style="margin: 15px auto;max-width:1000px;">
    <div class="panel-body">

        


    </div>

</div>*@